<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Repaso_Ejercicio_Zoologico.Properties.Settings.ZoologicoConnectionString"
            connectionString="Data Source=LAPTOP-IDSTH1VH\SQLEXPRESS;Initial Catalog=Zoologico;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>